*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply-box{
    max-width: 600px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 13px;
    margin: 60px 150px 0 150px;
    box-shadow: 5px 4px 6px ;
}
 
.container .small_heading{
    font-size: 22px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_imp{
    display: flex;
    flex-direction: colums;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea{
    padding-inline-start: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color: #659dbd;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
  
}